body{
    background-color:orange;
    color: black;
}

.info{
    font-size: 18px;
    border-width: 6px;
    border-color: black;
    border-style: dotted;
}

.image{
    width: 350px;
    height: 300px;
    border-width: 12px;
    border-color: black;
    border-style:dashed;
}

